{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-md-3"></div>
        
    <div class="col-md-5">

        <div class="title_1 delimited">{%trans%}Delete site{%endtrans%}</div>
        <p>
            {%trans%}You are going to delete this Site{%endtrans%}.
        </p>
        <p>
            {%trans%}Including{%endtrans%} ...
            <br />
            {{ site.getTotalUsers() }} {%trans%}users{%endtrans%}
            +
            {{ site.getTotalForms() }} {%trans%}forms{%endtrans%}
            +
            {{ site.getEntries().count() }} {%trans%}entries{%endtrans%}
        </p>
        <p>
            {%trans%}Write the name of the site below{%endtrans%}.
        </p>
        <div class="title_2">{{site.hostname}}</div>
        
        <form method="POST">
            <p>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="hostname" class="form-control" required >
            </p>
            
            <div class="form-actions">
            <input class="btn-danger btn" type="submit" value="{%trans%}Delete{%endtrans%}">
            <a class="btn btn-primary" role="button" href="/site/edit/{{site.hostname}}">{%trans%}Cancel{%endtrans%}</a>
            </div>
        </form>
    </div>

</div>    
</div>

{% endblock %}
