{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        
        <div class="title_1 delimited">{%trans%}Menu color{%endtrans%}</div>
        <div class="menu-color-options">
            <span style="background-color:#b71c1c">L</span>
            <span style="background-color:#c62828">i</span>
            <span style="background-color:#d32f2f">b</span>
            <span style="background-color:#e53935">e</span>
            <span style="background-color:#e65100">r</span>
            <span style="background-color:#ef6c00">a</span>
            <span style="background-color:#f57c00">F</span>
            <span style="background-color:#fb8c00">o</span>
        </div>

        <div class="menu-color-options">
            <span style="background-color:#49176d">r</span>
            <span style="background-color:#6a1b9a">m</span>
            <span style="background-color:#7b1fa2">s</span>
            <span style="background-color:#8e24aa">L</span>
            <span style="background-color:#880e4f">i</span>
            <span style="background-color:#ad1457">b</span>
            <span style="background-color:#c2185b">e</span>
            <span style="background-color:#d81b60">r</span>
        </div>

        <div class="menu-color-options">
            <span style="background-color:#1a237e">a</span>
            <span style="background-color:#283593">F</span>
            <span style="background-color:#303f9f">o</span>
            <span style="background-color:#3949ab">r</span>
            <span style="background-color:#263238">m</span>
            <span style="background-color:#37474f">s</span>
            <span style="background-color:#455a64">L</span>
            <span style="background-color:#546e7a">i</span>
        </div>
        
        <div class="menu-color-options">
            <span style="background-color:#1b5e20">b</span>
            <span style="background-color:#2e7d32">e</span>
            <span style="background-color:#388e3c">r</span>
            <span style="background-color:#43a047">a</span>
            <span style="background-color:#004d40">F</span>
            <span style="background-color:#00695c">o</span>
            <span style="background-color:#00796b">r</span>
            <span style="background-color:#00897b">m</span>
        </div>
        
        <p>&nbsp;</p>
        
        <form method="POST">
            {{ wtform.csrf_token }}
            <p>
                {{ wtform.hex_color.label }} <span class='required'>●</span><br />
                {{ wtform.hex_color(class_="form-control") }}
                {% for error in wtform.hex_color.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Save{%endtrans%}">
            <a class="btn btn-primary" role="button" href="/site/admin#site_settings">{%trans%}Cancel{%endtrans%}</a>
            </div>
        </form>
    </div>
</div>
</div>

<script>
jQuery("span").click(function(){
    var color=$(this).css('backgroundColor')
    $(".navbar").css('backgroundColor', color)
    $("#hex_color").val(color)
});
// https://stackoverflow.com/questions/6177454/can-i-force-jquery-cssbackgroundcolor-returns-on-hexadecimal-format
$.cssHooks.backgroundColor = {
    get: function(elem) {
        if (elem.currentStyle)
            var bg = elem.currentStyle["backgroundColor"];
        else if (window.getComputedStyle)
            var bg = document.defaultView.getComputedStyle(elem, null).getPropertyValue("background-color");
        if (bg.search("rgb") == -1)
            return bg;
        else {
            bg = bg.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(bg[1]) + hex(bg[2]) + hex(bg[3]);
        }
    }
}
</script>
  
{% endblock %}
