{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-md-3"></div>
        
    <div class="col-md-5">

        <div class="title_1 delimited">{%trans%}Send a new user invitation{%endtrans%}</div>
        <form method="POST">
            {{ wtform.csrf_token }}
            <p>
                {{ wtform.email.label }} <span class='required'>●</span><br />
                {{ wtform.email(class_="form-control") }}
                {% for error in wtform.email.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            <p>
                {{ wtform.message.label }} <span class='required'>●</span><br />
                {{ wtform.message(class_="form-control", rows="5") }}
                <div class="hint">
                {%trans%}The link to the invitation will be appended to this message{%endtrans%}
                </div>
            </p>
            <p>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="admin" class="custom-control-input" id="adminCheck" />
                <label class="custom-control-label" for="adminCheck">{{ wtform.admin.label }}</label>
            </div>
            </p>
            {% if g.isRootUserEnabled %}
                <div class="title_2 delimited">{%trans%}Root user options{%endtrans%}</div>

                <label>{%trans%}Invite to one of these sites{%endtrans%}</label>
                <div>
                {% for site in sites %}
                    <div class="custom-control custom-radio">
                        <input  type="radio"
                                id="customRadio{{loop.index}}"
                                class="custom-control-input" 
                                name="hostname" value="{{ site.hostname }}"
                                {% if site.hostname == g.site.hostname %}checked{% endif %}
                                >
                        <label  class="custom-control-label"
                                for="customRadio{{loop.index}}">
                                {{ site.hostname }}
                        </label>
                    </div>
                {% endfor %}
                </div>

            {% else %}
                <input type="hidden" name="hostname" value="{{ g.site.hostname }}" />
            {% endif %}
            
            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Send email{%endtrans%}">
            <a class="btn btn-primary" role="button" href="/site/admin">{%trans%}Cancel{%endtrans%}</a>
            </div>
        </form>
    </div>

</div>    
</div>
  
{% endblock %}
