{% extends "base.html" %}
{% block content %}

{% set stats = site.getStatistics() %}

<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>

<div class="container">
<div class="row">
    <div class="col">
        <div class="title_1 delimited">
            {%trans%}Site statistics{%endtrans%}
        </div>
        <canvas id="site-usage-chart" height="100"></canvas>
        
        {% if sites|length > 1 %}
            {% for site in sites %}
            <div class="title_2 delimited" style="margin-top:2.5em">
                {{ site.hostname }}
            </div>
            <canvas id="{{site.id}}-usage-chart" height="100"></canvas>
            {% endfor %}
        {% endif %}
        
    </div>
</div>

<script>
{% set fg_colors = [    "rgba(233, 132, 0, 1)", "rgba(182, 0, 181, 1)", "rgba(255, 228, 0, 1)",
                        "rgba(255, 0, 0, 1)", "rgba(0, 123 ,255, 1)", "rgba(0, 190, 0, 1)"] %}
{% set bg_colors = [    "rgba(233, 132, 0, 0.7)", "rgba(182, 0, 181, 0.7)", "rgba(255, 228, 0, 0.7)",
                        "rgba(255, 0, 0, 0.7)", "rgba(0, 123 ,255, 0.7)", "rgba(0, 190, 0, 0.7)"] %}


{% set stats = site.getStatistics() %}
var ctx = document.getElementById('site-usage-chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Entries')}}"],
                data: {{ stats['entries']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",
            },
            {
                label: ["{{ _('Total entries')}}"],
                data: {{ stats['total_entries']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                hidden: true,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            },
            {
                label: ["{{ _('New users')}}"],
                data: {{ stats['users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 123 ,255, 0.7)",
            },
            {
                label: ["{{ _('Total users')}}"],
                data: {{ stats['total_users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(255, 0, 0, 0.7)",
            },
        ],
    },
    options: {
        maintainAspectRatio: true,
        responsive: true,
        scales: { yAxes: [{
                    ticks: { beginAtZero: true, precision: 0 }
                }]
        },
        legend: {
            onHover: function (e) { e.target.style.cursor = 'pointer' },
            onLeave: function (e) { e.target.style.cursor = 'default' }
        }
    }
});


{% if sites|length > 1 %}
{% for site in sites %}

{% set stats = site.getStatistics(hostname=site.hostname) %}

var ctx = document.getElementById('{{site.id}}-usage-chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Entries')}}"],
                data: {{ stats['entries']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",
            },
            {
                label: ["{{ _('Total entries')}}"],
                data: {{ stats['total_entries']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                hidden: true,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            },
            {
                label: ["{{ _('New users')}}"],
                data: {{ stats['users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 123 ,255, 0.7)",
            },
            {
                label: ["{{ _('Total users')}}"],
                data: {{ stats['total_users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(255, 0, 0, 0.7)",
            },
        ],
    },
    options: {
        animation: false,
        scales: { yAxes: [{
                    ticks: { beginAtZero: true, precision: 0 }
                }]
        },
        legend: {
            onHover: function (e) { e.target.style.cursor = 'pointer' },
            onLeave: function (e) { e.target.style.cursor = 'default' }
        }
    }
});

{% endfor %}
{% endif %}

</script>

{% endblock %}
