{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        
        <div class="returnToForm">
            <a class="btn btn-primary btn-sm" role="button" href="/forms/view/{{form.id}}">{%trans%}Return to form{%endtrans%}</a>
            {{ form.slug }}
        </div>
        <div class="title_1">{%trans%}Change author{%endtrans%}</div>
        
        <table class="table table-sm">
        {% if g.isRootUserEnabled %}
            <tr>
               <td>{%trans%}Form site{%endtrans%}</td>
               <td>{{ form.hostname }}</td>
            </tr>
        {% endif %}
            <tr>
               <td>{%trans%}Current author{%endtrans%}</td>
               <td>{{ form.author.username }}</td>
            </tr>
        </table>

        {%trans%}You are going to change the author of this form.{%endtrans%}<br />
        {%trans%}Are you sure?{%endtrans%}
        <p>&nbsp;</p>

        <form action="/admin/forms/change-author/{{form.id}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input name="old_author_username" class="form-control" type="text" placeholder="{%trans%}Current author's username{%endtrans%}" required />
            <br />
            <input name="new_author_username" class="form-control" type="text" placeholder="{%trans%}New author's username{%endtrans%}" required />
            
            <div class="form-actions">
            <input class="btn-danger btn btn-md" type="submit" value="{%trans%}Change author{%endtrans%}" />
            </div>
        </form>
        
    {% set editors=form.getEditors() %}
    {% if editors|length > 1 %}
        <p>&nbsp;</p>
        <div class="title_2">{%trans%}Editors{%endtrans%}</div>

        <table class="table table-sm">
        {% for editor in editors %}
            <tr>
                <td>{{ editor.username }}</td>
                <td>{{ editor.email }}</td>
                <td class="text-right">
                {% if editor == form.author %}
                    {%trans%}Author{%endtrans%}
                {% else %}
                    {%trans%}Editor{%endtrans%}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    </div>

</div>
</div>
  
{% endblock %}
