{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-md-3"></div>
            
    <div class="col-md-5">
        <div class="title_1 delimited">{%trans%}Delete user{%endtrans%}</div>

        {% set formCount=user.authored_forms|length %}
        <p>
        {%trans%}You are going to delete a user{%endtrans%}
        {% if formCount %}
            {%trans%}and their forms{%endtrans%}
        {% endif %}
        </p>

        {% if formCount %}
            <div class="title_2">{%trans%}Forms{%endtrans%}</div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>{%trans%}Name{%endtrans%}</th>
                        <th>{%trans%}Editors{%endtrans%}</th>
                        <th>{%trans%}Entries{%endtrans%}</th>
                    </tr>
                </thead>
                {% for form in user.authored_forms %}
                <tr>
                   <td><a href="/forms/view/{{form.id}}">{{form.slug}}</a></td>
                   <td>{{form.editors|length}}</td>
                   <td>{{form.entries|length}}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <p>
        {%trans%}Write the name of the user below{%endtrans%}.
        </p>
        <div class="title_3">{{user.username}}</div>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <p>
            <input type="text" name="username" class="form-control" required >
            </p>
            
            <div class="form-actions">
            {% if formCount %}
                <input class="btn-danger btn" type="submit" value="{%trans%}Delete user and forms{%endtrans%}">
            {% else %}
                <input class="btn-danger btn" type="submit" value="{%trans%}Delete user{%endtrans%}">
            {% endif %}
            <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/admin/users/{{user.id}}'">
            </div>
        </form>
    </div>
  
</div>
</div>

  
{% endblock %}
