{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">
<script src="/static/dataTables/extensions/responsive/2.2.4/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/extensions/responsive/2.2.4/responsive.dataTables.min.css">

{% set fieldIndex=form.getFieldIndexForDataDisplay() %}
{% set responses = form.getEntriesForDisplay() %}

<div class="container">
<div class="row" style="font-size:1.5em">
    <div class="col">
    {{ form.slug }}
    </div>
    <div class="col-auto">
    <a class="btn btn-primary btn-sm" role="button" href="{{form.getSharedEntriesURL('stats')}}">
        {%trans%}Graphs{%endtrans%}<i class="fa fa-bar-chart" aria-hidden="true"></i>
    </a>
    <a class="btn btn-primary btn-sm" role="button" href="{{form.getSharedEntriesURL('csv')}}">
        {%trans%}Download CSV{%endtrans%}<i class="fa fa-download" aria-hidden="true"></i>
    </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <hr />

    <table id="formEntries" style="display:none" class="table table-bordered table-striped table-sm entries-table nowrap">
    <thead>
        <tr>
        <th></th>
        {% for field in fieldIndex %}
            <th>{{ field['label'] }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for response in responses %}
        <tr>
            <td></td>
        {% for field in fieldIndex  %}
            <td class="{{ fieldName }}">{{ response[field['name']] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>

<script>
$(document).ready(function() {
    $('#formEntries').DataTable({
        "responsive": true,
        //"scrollY": "50vh",
        //"scrollCollapse": true,
        //"scroller": true,
        //"paging": false,
        "language": {
            "url": "/static/dataTables-languages/{{language}}.js"
        },
        "initComplete": function(settings, json) {
            $(".dataTable").show();
        },
        "order": [[2, 'desc']],
        "pageLength": 100
    });
});
</script>
  
{% endblock %}
