html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}
body {
  color: #333333;
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.navbar{
  font-size: 1.3em;
}
.navbar-brand > img {
  width: 30px;
}
.nav-link {
  color: rgb(255, 255, 255, 1) !important;
  opacity: 0.925;
}
.nav-link:hover {
  opacity: 1;
}
#main-content {
  margin-top: 1.5em;
}

#footer {
  text-align:right;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 25px;
}

hr { margin-top: 5px }

.returnToForm {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.title_1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.title_2 {
  font-size: 1.25em;
  margin-bottom: 0.65em;
}
.title_3 {
  font-size: 1.15em;
  margin-bottom: 0.4em;
}
.title_text_subtext {
   margin: -1.4rem 0 1.2rem 0;
   font-size: 0.95rem;
}
/*
.subtext-section-title {
  font-size: 1.15rem;
  border-top: 1px solid #eee;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
*/
.delimited {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}
.sentTokenMessage {
  font-weight: bold;
}
.form-actions {
  margin-top:2.15em;
}
.hint {
  font-size: 1em;
  font-style: italic;
  color: grey;
  margin-top: -0.8em;
}
.btn-xs {
  padding: .45rem .45rem;
  font-size: .875rem;
  line-height: .55;
  border-radius: .2rem;
}
.btn > i {
  padding-left: 5px;
}
.author-badge {
  font-size:0.95em;
  font-weight: 400;
}
.sparse-table tr:first-child > td {
    border-top: 0;
    padding-top: 0;
}
label {
  font-size: 1.2em;
}
.label-description {
    display: block;
    font-size: 1.08rem;
    margin: 0.5em 0 0.3em 0;
}
.custom-radio, .custom-checkbox {
    margin-bottom: 0.4em;
}
.custom-radio label {
  padding-left: 0.75em;
  cursor: pointer;
}
.custom-control-label label {
  font-size: 1em;
  margin-top:-3px;
}
input[type="date"], input[type="number"], input[type="time"] {
  width: auto !important;
}
.entries-table {
  font-size: 14px;
}
/*
.entries-table td:nth-child(-n+3), .entries-table th:nth-child(-n+3) {
  max-width: 45px;
  white-space: nowrap;
}
*/
.td-controls td:first-child {
    text-align: center;
}
.cell-editor  {
  white-space:nowrap;
}
.cell-editor > input[type="text"] {
  width: 70%;
}
.link {
  color:#337ab7;
  cursor:pointer;
}
.formIntroduction {

}
#embed_snippet {
  display:none;
  padding-bottom: 1.5em;
}
.highlightedText {
  color: #d9534f;
}
.marked-up {
  font-size: 1.1rem;
}
.marked-up h1, .gngform h1 {
  margin-bottom: 2rem;
}
.marked-up h2, .gngform h2 {
  margin-bottom: 1.2rem;
}
.marked-up h3, .gngform h3 {
  margin-bottom: 1rem;
}
.formIntroduction {
    padding-bottom: 1em;
}
.formIntroduction img, .afterSubmitText img, .expiredText img {
  width: 100%;
}

#my_forms a > span {
    padding: 0 0.5em 0 1em;
}
/* ######### Flash messages ######### */

.flash_message {
    text-align: center;
}
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #28a745;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #17a2b8;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #dc3545;
    padding: 0.25em 0.5em 0.25em 0.5em;
}


/* ######### WTForms ######### */
.formError {
    color: #d9534f;
    font-size: 1rem;
}

/* ######### Entries table ######### */

.delete-row-icon {
    font-size: 1.15em !important;
    color: grey;
    visibility: visible;
}
.delete-row-icon.enabled {
    color: #d9534f;
    cursor: pointer;
}
.undo-delete-row {
    font-weight: bold !important;
    color: #5cb85c;
    cursor: pointer;
}
.deleted-row {
    background-color: #FAAFBE;
    text-decoration: line-through;
    cursor: auto;
}
.entryCellHighlighter td:not(.deleted-row):not(:nth-child(-n+3)):not(.cellEditionMode):hover {
    background-color: #ffffcc;
    cursor: pointer;
}
.cellEditionMode {
    cursor: auto;
}
.saveCellEdition {
    font-size: 1.25em !important;
    color: #5cb85c;
    cursor: pointer;
    padding-left: 0.27em;
}
.cancelCellEdition {
    font-size: 1.25em !important;
    color: #007bff;
    cursor: pointer;
    padding-left: 0.27em;
}

/* ######### dataTables ######### */
.dataTables_scrollBody {
    background: none !important;
}
ul.dtr-details .dtr-data {   /* (+) (-) let the overflowed fields wrap */
    white-space: normal !important;
}


.gngform {
  font-size: 1.1rem;
}
.gngform label:empty {
  display: none;
}

.gngform input[type=submit] {
  margin-top: 1em;
}


/* ###### Theming ###### */
.menu-color-options span {
  display: inline-block;
  width: 52px;
  height: 52px;
  cursor: pointer;
  color: white;
  font-size: 34px; 
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4px;
}
/* ##### Conditions ####### */
#conditions_display a[role=button] {
  display:none;
}
.conditioner_icon, .conditioned_icon {
  padding-left: 0.3rem;
  cursor: pointer;
  color: gray;
}
#gngform .fa-lightbulb-o {
  font-size: 1.6rem;
}
.activeConditionerIcon, .activeConditionedIcon {
  color: green;
}
#conditions_display a {
  margin-left: 0.3em;
}
.activeConditionGroup {
  background-color: #C3FDB8;
}

/* ######### Consent texts ######### */
div.required {
    /* font-size: 1.05em; */
    color: #c10000;
    padding: 0 0 1em 0;
}
div.consentText {
  font-size: 0.85rem;
  color: #666;
}
label.consent {
  font-size: 1rem;
  margin-left: 0.5em;
  cursor: pointer;
}
label.send-confirmation {
  font-size: 1.2rem;
  margin-left: 0.5em;
  cursor: pointer;
}
label.consent {
  color: #333;
}
label.required {
  margin-top: -0.1em;
}
span.required,
span.required-dot {
  font-size: 1.2rem;
  color: #c10000;
  padding-left: 0.25em;
}
button.newUserConsentTextToggle {
  padding-top: 0.32em;
  padding-bottom: 0.29em;
}
button.newUserConsentTextToggle > i {
  padding: 0;
}
