{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 afterSubmitText marked-up">
            {{ form.afterSubmitTextHTML | safe }}
        </div>
    </div>
</div>

{% endblock %}
