{% extends "base.html" %}
{% block content %}


<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>


<div class="container">
<div class="row">
    <div class="col">
        <div class="title_1 delimited">
            {%trans%}My statistics{%endtrans%}
        </div>
        <canvas id="usage_chart" height="100"></canvas>
    </div>
</div>
</div>

{% set stats = user.getStatistics() %}

<script>

var ctx = document.getElementById('usage_chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Entries')}}"],
                data: {{ stats['entries']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",

                
            },
            {
                label: ["{{ _('Total entries')}}"],
                data: {{ stats['total_entries']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                hidden: true,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            }
        ],
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        legend: {
            onHover: function (e) { e.target.style.cursor = 'pointer' },
            onLeave: function (e) { e.target.style.cursor = 'default' }
        }
    }
});

</script>

{% endblock %}
